@media screen and (max-width: 1100px) {
  body.vp {
    .navigation-topics,
    .categories-list,
    .tags-page,
    &[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
      #navigation-bar {
        padding-bottom: 0.25em;
      }
      .list-controls {
        .navigation-container .navigation-controls {
          padding: 0;
        }
        .notifications-button {
          position: absolute;
          right: 1em;
          margin-top: -3.05em;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .vp-panel-contents-stats {
    overflow-x: auto;
    white-space: nowrap;
    .badges {
      flex-flow: row nowrap;
    }
  }
}
