@media screen and (max-width: 1100px) {
  body.vp {
    .navigation-topics,
    .categories-list,
    .tags-page,
    &[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
      .list-controls .notifications-button {
        position: absolute;
        right: 1em;
        margin-top: -3.05em;
      }
    }
  }
}
