{{#if site.mobileView}}
  <div class="vp-panel-top" style="background-image: url('{{userCardBg}}');">
    <div class="vp-panel-contents">
      <div class="vp-panel-contents-top">
        <div class="vp-avatar">
          {{mount-widget widget="vp-avatar-panel"}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
