{{#if currentUser}}
  <div class="vp-panel">
    {{mount-widget widget="vp-avatar"}}
    <div class="vp-new-topic">
      {{mount-widget widget="vp-topic"}}  
      {{new-topic-dropdown-panel category=category}}
    </div>
  </div>
{{/if}}
