@import "var-mixin"; 

.discovery-list-container-top-outlet.vaperina-panel {
  @include bg-br-auto;
  margin: 0 auto 16px auto;
}

.vp-panel-top {
  border-radius: $br-auto;
  background-size: cover;
  background-position: center;
}

.vp-panel-contents {
  border-radius: $br-auto;
  background: rgba(var(--secondary-rgb), 0.85);
}

.vp-panel-contents-top {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  flex-flow: row;
  padding: 0.5em 0.5em 0;
  .vp-avatar {
    margin: 0.5em;
  }
  .vp-new-topic {
    width: 100%;
    position: relative;
    margin: 0.5em;
    .new-topic-dropdown-panel {
      position: absolute;
      margin-top: -40px;
      right: 0;
    }
  }
}

.vp-panel-contents-stats {
  display: flex;
  flex-flow: column;
  padding: 0 0.5em 0.5em;
  .likes {
    display: flex;
    .user-stat {
      margin: 0.5em;
    }
    .label .d-icon-heart {
      color: var(--love);
    }
  }
  .badges {
    .user-badge {
      border-radius: $br-px;
    }
    .badge-type-1 {
      .d-icon {
        color: var(--gold);
      }
    }
    .badge-type-2 {
      .d-icon {
        color: var(--silver);
      }
    }
    .badge-type-3 {
      .d-icon {
        color: var(--bronze);
      }
    }
  }
}

.vp-panel-contents-bottom {
  display: block;
  position: relative;
  background: var(--secondary);
  width: max-content;
  border-radius: $br-px;
  margin-top: 0.5em;
  margin-left: auto;
  bottom: 0.25em;
  right: 0.25em;
  .vp-link {
    display: inline-flex;
    font-size: var(--font-up-1);
    color: var(--primary-high);
    margin: 0.25em 0.5em;
  }
}

#new-create-topic {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  color: var(--primary-high);
  border: 1px solid var(--primary-high);
  background: var(--secondary);
  border-radius: 2em;
  transition: background 0.25s ease-out;
  .d-icon {
    color: var(--primary-high);
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  &:hover,
  &:focus {
    background: var(--primary-low);
  }
  &.open-draft {
    background: var(--primary-medium);
    border: 1px solid var(--primary-high);
    color: var(--secondary);
    .d-icon {
      color: var(--secondary);
    }
    &:focus,
    &:hover {
      background: var(--primary-high);
    }
  }
}

.select-kit {
  &.new-topic-dropdown-panel .btn {
    width: 3.5em;
    height: 40px;
    background: var(--secondary);
    border-radius: 0 2em 2em 0;
    border: 1px solid var(--primary-high);
    &:hover,
    &:focus {
      background: var(--primary-low);
      border: 1px solid var(--primary-high);
    }
    .d-icon {
      color: var(--primary-high);
      &.caret-icon {
        padding-left: 0;
        margin-left: 0 !important;
      }
    }
  }
  &.is-expanded .select-kit-header {
    box-shadow: none !important;
  }
}

.vp-new-topic {
  &.open-draft {
    .new-topic-dropdown-panel .btn {
      background: var(--primary-medium);
      border: 1px solid var(--primary-high);
      .d-icon {
        color: var(--secondary);
      }
      &:focus,
      &:hover {
        background: var(--primary-high);
      }
    }
  }
}

// Hide create topic button

#main-outlet {
  #create-topic,
  .after-create-topic-button-outlet.new-topic-dropdown {
    display: none;
  }
}
