@import "var-mixin"; 

.discovery-list-container-top-outlet.vaperina-panel {
  @include bg-br-auto;
  margin: 0 auto 16px auto;
  max-width: 600px;
}

.vp-panel-top {
  border-radius: $br-auto;
  background-size: cover;
}

.vp-panel-contents {
  background: rgba(var(--secondary-rgb), 0.85);
}

.vp-panel-contents-top {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  flex-flow: row;
  padding: 0.5em;
  .vp-avatar {
    margin: 0.5em;
  }
  .vp-new-topic {
    width: 100%;
    position: relative;
    margin: 0.5em;
    .new-topic-dropdown-panel {
      position: absolute;
      margin-top: -3em;
      right: 0;
    }
  }
}

.vp-panel-contents-stats {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  flex-flow: column;
  padding: 0.5em;
  .vp-stats {
    .likes {
      display: flex;
      justify-content: center;
      .user-stat {
        margin: 0.5em;
      }
      .label .d-icon-heart {
        color: var(--love);
      }
    }
    .badges {
      text-align: center;
      .badge-type-1 {
        .d-icon {
          color: var(--gold);
        }
      }
      .badge-type-2 {
        .d-icon {
          color: var(--silver);
        }
      }
      .badge-type-3 {
        .d-icon {
          color: var(--bronze);
        }
      }
    }
  }
}

#new-create-topic {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  width: 100%;
  height: 3em;
  color: var(--secondary);
  border: 2px solid var(--tertiary);
  background: var(--tertiary);
  border-radius: 2em;
  transition: background 0.25s ease-out;
  .d-icon {
    width: 1.25em;
    height: 1.25em;
    color: var(--secondary);
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  &:hover,
  &:focus {
    background: var(--tertiary-hover);
    border: 2px solid var(--tertiary-hover);
  }
  &.open-draft {
    background: var(--primary-medium);
    border: 2px solid var(--primary-medium);
    &:focus,
    &:hover {
      background: var(--primary-high);
      border: 2px solid var(--primary-high);
    }
  }
}

.select-kit {
  &.new-topic-dropdown-panel .btn {
    width: 3.5em;
    height: 3em;
    background: var(--secondary);
    border-radius: 0 2em 2em 0;
    border: 2px solid var(--tertiary);
    &:hover,
    &:focus {
      background: var(--primary-low);
    }
    .d-icon {
      color: var(--tertiary);
      &.caret-icon {
        padding-left: 0;
        margin-left: 0 !important;
      }
    }
  }
  &.is-expanded .select-kit-header {
    box-shadow: none !important;
  }
}

.vp-new-topic {
  &.open-draft {
    .new-topic-dropdown-panel .btn {
      border: 2px solid var(--primary-medium);
      .d-icon {
        color: var(--primary-medium);
      }
    }
  }
}
