body.vp {
  &.sticky-create-topic {
    #main-outlet {
      #create-topic,
      .after-create-topic-button-outlet.new-topic-dropdown {
        display: flex;
      }
    }
  }
  .discovery-list-container-top-outlet.search-banner {
    display: none;
  }
  .create-topic-visibility {
    position: absolute;
    height: 250px;
  }
}
