body.vp {
  &.sticky-create-topic {
    #main-outlet {
      #create-topic,
      .new-topic-dropdown {
        display: flex;
      }
    }
  }
  .create-topic-visibility {
    position: absolute;
    height: 300px;
  }
}
