body.vp.sticky-create-topic {
  #main-outlet {
    #create-topic,
    .after-create-topic-button-outlet.new-topic-dropdown {
      display: flex;
    }
  }
}

body.vp .create-topic-visibility {
  position: absolute;
  height: 300px;
}
